{% extends 'base.html.twig' %}

{% block menu_uch_in_city_parametr %} class="active"{% endblock %}


{% block stylesheets %}
<style>
.fix_el
{
  width:300px !important;
  height: 470px !important;
}
</style>
{% endblock %}

{% block javascripts %}
<script src="http://fb.me/react-0.10.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.js"></script>
<script src="https://fb.me/react-with-addons-0.14.7.js"></script>
<script src="https://fb.me/react-dom-0.14.7.min.js"></script>
<script type="application/javascript;version=1.7" language="JavaScript 1.7">
var Search_uch_map = React.createClass({

    getInitialState: function(){
        return { searchString: '' };
    },

    handleChange: function(e){

        // If you comment out this line, the text box will not change its value.
        // This is because in React, an input cannot change independently of the value
        // that was assigned to it. In our case this is this.state.searchString.

        this.setState({searchString:e.target.value});
    },

    render: function() {

        var libraries = this.props.items,
            searchString = this.state.searchString.trim().toLowerCase();


        if(searchString.length > 0){

            // We are searching. Filter the results.

            libraries = libraries.filter(function(l){
                return l.city.toLowerCase().match( searchString );
            });

        }

        return <div>
                    <div className="input-group input-group-lg">
                    <span className="input-group-addon">  <span className="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> </span>
                    <input className="form-control" type="text" value={this.state.searchString} onChange={this.handleChange} placeholder="Поиск" />
                    </div>

                    <div className="row">
                      {
                        libraries.map
                        (
                          function(l)
                          {
                            return <div className="fix_el col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                <div className="thumbnail">
                                  <img src={l.img} alt=""> </img>
                                    <div className="caption">
                                      <h3>{l.city}</h3>
                                      <p><a href={"/uch_in_cityl?city="+l.city} className="btn btn-primary" role="button">Просмотреть</a> </p>
                                    </div>
                                </div>
                            </div>;
                          }
                        )
                      }

                    </div>

                </div>;

    }
});


var map_obj_el = {}

// Render the SearchExample component on the page
jQuery.getJSON("http://isayp.fsmos.ru/gettsjson", {} )
	.done(function( json )
{
    map_obj_el = json['user'];
    ReactDOM.render(
    <Search_uch_map items={ map_obj_el } />,
    document.getElementById('uch_map_sf')
    );
});
</script>
{% endblock %}

{% block body %}
<script src="https://facebook.github.io/react/js/jsfiddle-integration-babel.js"></script>
<div class="row">
  <div class="container-fluid">
    <div id="uch_map_sf">
    </div>
</div>
</div>
{% endblock %}
